name: Linting of Markdown files
on:
  push:
    paths:
      - '**/*.md'
  pull_request:
    paths:
      - '**/*.md'

jobs:
  build:
    name: Lint Markdown Files
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@069c6959146423d11cd0184e6accf28f9d45f06e # v4
    - uses: nosborn/github-action-markdown-cli@508d6cefd8f0cc99eab5d2d4685b1d5f470042c1 # v3.5.0
      name: Lint Markdown Files
      with:
        files: .
        config_file: ".markdownlint.json"
